#imagem00{
	width: 14.22%;
}

#imagem01{
	width: 100%;
}


#imagem02{
	width: 40%;

}

#imagem03{
	width: 20%;
}
#imagem04{
	width: 50%;

}
#imagem06{
	width: 40%;
}
#imagem07{
	width: 40%;
}
#imagem08{
	width: 30%;
#imagem09{
	width: 20%;
}
#imagem10{
	width: 20%;
}
#imagem11{
	width: 20%;
}
#imagem12{
	width: 20%;
}
#imagem13{
	width: 20%;
}
#imagem14{
	width: 40%;
}
#imagem15{
	width: 100%;
}
#imagem16{
	width: 20%;
}

#imagem18{
	width: 20%;
}
#imagem19{
	width: 20%;
}
#imagem20{
	width: 20%;
}
h1{
	text-align: center;
	color: red;
}

h2{
	text-align:left;
	color: blue;
}
p{
	text-align: justify;
}